# **EXERCICE 1**

In [ ]:
def somme_liste(liste):

    return sum(liste)

# Tests
print(somme_liste([1, 2, 3, 4]))
print(somme_liste([-1, 5, 3, -7]))
print(somme_liste([0]))
print(somme_liste([]))

10
0
0
0

# **EXERCICE 2**

In [ ]:
def max_tuple(t):

    return max(t)

# Tests
print(max_tuple((1, 5, 3)))
print(max_tuple((-10, -5, -3, -7)))
print(max_tuple((0,)))
print(max_tuple((1.5, 2.3, 0.7)))

5
-3
0
2.3

# **EXERCICE 3**

In [ ]:
def intersection(ensemble1, ensemble2):

    return ensemble1.intersection(ensemble2)

# Tests
print(intersection({1, 2, 3}, {2, 3, 4}))
print(intersection({"a", "b", "c"}, {"c", "d", "e"}))
print(intersection({1, 2}, {3, 4}))
print(intersection(set(), {1, 2, 3}))

{2, 3}
{'c'}
set()
set()

# **EXERCICE 4**

In [ ]:
def compte_occurences(liste):

    occurences = {}   #En Python, {} est la syntaxe pour créer un dictionnaire vide.
  #_______ Un dictionnaire permet d'associer chaque mot (clé) à son nombre d'occurrences (valeur).
    for mot in liste:
        if mot in occurences:
            occurences[mot] += 1
        else:
            occurences[mot] = 1
    return occurences

# Tests
print(compte_occurences(["apple", "banana", "apple", "orange", "banana", "apple"]))

print(compte_occurences(["chat", "chien", "chat", "oiseau"]))

print(compte_occurences([]))

print(compte_occurences(["unique"]))

{'apple': 3, 'banana': 2, 'orange': 1}
{'chat': 2, 'chien': 1, 'oiseau': 1}
{}
{'unique': 1}

In [ ]:
def compte_occurences(liste):
    return {mot: liste.count(mot) for mot in set(liste)}

# Exemple d'utilisation
ma_liste = ["apple", "banana", "apple", "orange", "apple", "banana"]
resultat = compte_occurences(ma_liste)

# Afficher le résultat
print(resultat)

{'apple': 3, 'orange': 1, 'banana': 2}

# **EXERCICE 5**

In [ ]:
def factorielle(n):

    if n < 0:
        raise ValueError("La factorielle n'est pas définie pour les nombres négatifs.")
        # raise --> arrêter l'exécution normale d'un programme et de signaler qu'une erreur ou un cas spécial s'est produit.
    if n == 0 or n == 1:
        return 1
    return n * factorielle(n - 1)

# Tests
print(factorielle(5))
print(factorielle(0))
print(factorielle(1))
print(factorielle(7))

120
1
1
5040

# **EXERCICE 6**

In [ ]:
# Définir la fonction lambda
carre = lambda x: x ** 2  #syntaxe --> lambda arguments: expression

# Tests
print(carre(3))
print(carre(0))
print(carre(-4))
print(carre(1.5))

# **EXERCICE 7**

In [ ]:
def salutation(nom, message="Bonjour"):

    print(f"{message}, {nom}!")

# Tests
salutation("Alice")
salutation("Bob", "Salut")
salutation("Caroline", "Bienvenue")
salutation("David")

Bonjour, Alice!
Salut, Bob!
Bienvenue, Caroline!
Bonjour, David!

# **EXERCICE 8**

In [1]:
def somme_varargs(*args):

    return sum(args)

# Tests
print(somme_varargs(1, 2, 3))
print(somme_varargs())
print(somme_varargs(100))

6
0
100

# **EXERCICE 9**

In [5]:
def analyse_texte(texte):

    nombre_mots = len(texte.split())

    # Compter les caractères en ignorant les espaces
    nombre_caracteres = 0
    for c in texte:
        if not c.isspace():  # Si le caractère n'est pas un espace
            nombre_caracteres += 1

    return {"mots": nombre_mots, "caracteres": nombre_caracteres}

# Test
texte = "Bonjour tout le monde !"
resultat = analyse_texte(texte)
print(resultat)

{'mots': 5, 'caracteres': 19}

# **EXERCICE 10**

In [6]:
def fusionner_dicts(dict1, dict2):

    for cle in dict2:  # Parcourir toutes les clés de dict2
        if cle in dict1:
            dict1[cle] += dict2[cle]  # Additioner les valeurs
        else:
            dict1[cle] = dict2[cle]  # Ajouter la nouvelle clé avec sa valeur
    return dict1

# Tests
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 3, "c": 4, "d": 5}

resultat = fusionner_dicts(dict1, dict2)
print(resultat)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}